<div class="w-full pt-2 px-4 max-w-[480px] m-auto mt-3">
  <h2 class="text-center text-2xl/9 font-semibold tracking-tight text-gray-900 mb-4">
    <%= t('.title') %>
  </h2>

  <%= form_with model: @merchant, url: campaigns_merchants_path, id: dom_id(@merchant) do |form| %>
    <div class="form-group">
      <%= form.label :name, t('.name.label'), class: "form-label" %>
      <%= form.text_field :name, required: true, autofocus: true,
            autocomplete: "name", placeholder: t('.name.placeholder'),
            class: "form-control #{'is-invalid' if @merchant.errors.messages[:name].present?}" %>
      <% if @merchant.errors.messages[:name].present? %>
        <div class="invalid-feedback">
          <% @merchant.errors.messages[:name].each do |message| %>
            <span><%= message %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :city, t('.city.label'), class: "form-label" %>
      <%= form.text_field :city, required: true, autofocus: true,
            autocomplete: "city", placeholder: t('.city.placeholder'),
            class: "form-control #{'is-invalid' if @merchant.errors.messages[:city].present?}" %>
      <% if @merchant.errors.messages[:city].present? %>
        <div class="invalid-feedback">
          <% @merchant.errors.messages[:city].each do |message| %>
            <span><%= message %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :description, t('.description.label'), class: "form-label" %>
      <%= form.textarea :description, required: true, placeholder: t('.description.placeholder'),
            class: "form-control #{'is-invalid' if @merchant.errors.messages[:description].present?}" %>
      <% if @merchant.errors.messages[:description].present? %>
        <div class="invalid-feedback">
          <% @merchant.errors.messages[:description].each do |message| %>
            <span><%= message %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    
    <%= form.fields_for @manager do |manager_form| %>
      <div class="flex justify-between items-center">
        <h4 class="mb-2"><%= t(".manager") %></h4>
      </div>

      <div class="form-group">
        <%= form.label :telephone, t('.telephone.label'), class: "form-label" %>
        <%= manager_form.text_field :telephone, placeholder: t('.telephone.placeholder'), name: "manager[telephone]",
              class: "form-control #{'is-invalid' if @manager.errors.messages[:telephone].present?}",
              data: { "select-dropdown-target": "input", controller: "format-decimals", action: "format-decimals#formatValue" } %>

        <% if @manager.errors.messages[:telephone].present? %>
          <div class="invalid-feedback">
            <% @manager.errors.messages[:telephone].each do |message| %>
              <span><%= message %></span>
            <% end %>
          </div>  
        <% end %>  
      </div>
    <% end %>

    <%= form.submit t(".submit"), class: "btn btn-primary mb-5" %>
  <% end %>
</div>
