
<%= form_with model: user, url:, id: do |form| %>
  <% unless user.persisted? %>
      <div class="form-group">
        <%= form.label :telephone, t('.telephone.label'), class: "form-label" %>

        <%= form.text_field :telephone,
              placeholder: t('.telephone.placeholder'), autocomplete: false, required: true,
              class: "form-control #{'is-invalid' if user.errors.messages[:telephone].present?}",
              data: { controller: "format-decimals", action: "format-decimals#formatValue" } %>
        <% if user.errors.messages[:telephone].present? %>
          <div class="invalid-feedback">
            <% user.errors.messages[:telephone].each do |message| %>
              <span><%= message %></span>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :role, t('.role.label'), class: "form-label" %>

        <%= form.collection_select :role, user_roles, :first, :last, { include_blank: t('.role.placeholder'), selected: user.role },
            { class: "form-control #{'is-invalid' if user.errors[:role].present?}" } %>

        <% if user.errors.messages[:role].present? %>
          <div class="invalid-feedback">
            <% user.errors.messages[:role].each do |message| %>
              <span><%= message %></span>
            <% end %>
          </div>
        <% end %>
      </div>
  <% else %>
    <%= form.hidden_field :agency_name, name: "agency_name", value: params[:agency_name] %>
    <div class="form-group">
      <%= form.label :telephone, t('.telephone.label'), class: "form-label" %>

      <%= form.text_field :telephone, disabled: true, 
            placeholder: t('.telephone.placeholder'), autocomplete: false, required: true,
            class: "form-control",
            data: { controller: "format-decimals", action: "format-decimals#formatValue" } %>
    </div>

    <div class="form-group">
      <%= form.label :role, t('.role.label'), class: "form-label" %>

      <%= form.collection_select :role, user_roles, :first, :last, { include_blank: t('.role.placeholder'), selected: user.role },
          { class: "form-control", disabled: true } %>
    </div>

    <div class="form-group">
      <%= form.label :full_name, t('.full_name.label'), class: "form-label" %>

      <%= form.text_field :full_name, autofocus: true, 
            placeholder: t('.full_name.placeholder'), autocomplete: false, required: true,
            class: "form-control #{'is-invalid' if user.errors[:full_name].present?}" %>
  
      <% if user.errors.messages[:full_name].present? %>
        <div class="invalid-feedback">
          <% user.errors.messages[:full_name].each do |message| %>
            <span><%= message %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :password, t('.password.label'), class: "form-label" %>

      <%= form.password_field :password, required: true, autocomplete: false, autofocus: false,
          label: t('.password.label'), placeholder: t('.password.placeholder'),
          class: "form-control #{'is-invalid' if user.errors[:password].present?}"%>
      
      <% if user.errors.messages[:password].present? %>
        <div class="invalid-feedback">
          <% user.errors.messages[:password].each do |message| %>
            <span><%= message %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation, t('.password_confirmation.label'), class: "form-label" %>

      <%= form.password_field :password_confirmation, required: true, autocomplete: false,
          label: t('.password_confirmation.label'), placeholder: t('.password_confirmation.placeholder'),
          class: "form-control #{'is-invalid' if user.errors[:password_confirmation].present?}" %>
      
      <% if user.errors.messages[:password_confirmation].present? %>
        <div class="invalid-feedback">
          <% user.errors.messages[:password_confirmation].each do |message| %>
            <span><%= message %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form.submit t(".submit.#{user.persisted? ? 'invite' : 'save'}"), class: "mb-6 btn btn-primary" %>
<% end %>
