<div class="flex items-center gap-2 my-2">
  <%= form_with(url: deliveries_path, method: :get, class: 'relative',
        data: { turbo_frame: 'delivery-list', turbo_action: :advance, controller: 'inline-search' }) do %>
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
      <%= render 'shared/svgs/search' %>
    </div>
    <%= text_field_tag 'q', params[:q], placeholder: t('.search_placeholder'),
          class: 'form-control pl-10 pr-3', id: 'search_deliveries' %>
  <% end %>


  <div class="dropdown flyout ml-auto" data-controller="dropdown" data-dropdown-target="dropdown">
    <button type="button" class="btn flex items-center text-gray-400 gap-2 ml-3 p-0"
            data-action="dropdown#toggle" aria-expanded="false" aria-haspopup="true" type="button">
      <span class="absolute -inset-1.5"></span>
      <%= render 'shared/svgs/filter' %>
      <span class=""><%= t('.title') %></span>
    </button>

    <div class="hidden dropdown-menu flyout px-2 !mt-4" role="menu"
          aria-orientation="vertical" aria-labelledby="deliveries-advance-filters-button" tabindex="-1">
      <%= form_with(url: deliveries_path, method: :get, class: 'flex items-center flex-col p-2',
              data: { turbo_frame: 'delivery-list', turbo_action: :advance, }) do |form| %>

        <div class="w-full">
          <%= form.label :interval, t('.from.label'), class: 'form-label'  %>
          <%= form.text_field :interval, class: "form-control mb-5", placeholder: t('.from.placeholder'),
                data: { controller: "flatpickr", 'flatpickr-init-conf-value': { mode: "range", dateFormat: "d-M-Y" } } %>
        </div>

        <div class="w-full">
          <%= form.label :interval, t('.to.label'), class: 'form-label'  %>
          <%= form.text_field :interval, class: "form-control mb-5", placeholder: t('.to.placeholder'),
                data: { controller: "flatpickr", 'flatpickr-init-conf-value': { mode: "range", dateFormat: "d-M-Y" } } %>
        </div>


        <div class="flex w-full ml-auto justify-end items-center gap-2">
          <%= link_to t(".clear"), deliveries_path, class: "btn btn-secondary", turbo_frame: "_top" %>

          <%= form.submit t(".apply"), class: "btn btn-primary", name: nil, data: { action: "dropdown#close"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
