<div class="w-full flex flex-col">
  <header class="sticky top-16 py-3 mt-[1px] bg-tp-white flex flex-col w-full container mx-auto z-20">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">
      <%= t('.title') %>
    </h1>

    <div class="flex items-center justify-between flex-wrap">
      <nav class="flex items-center grow-1 gap-4 my-2 w-full sm:w-fit">
        <%= link_to t('.all'), deliveries_path(params: { q: params[:q]}), class: "sub-nav-link #{active_nav_link('all')}" %>
        <%= link_to t('.incoming'), deliveries_path(params: { type: "incoming" }),
              class: "sub-nav-link #{active_nav_link('incoming')}" %>
        <%= link_to t('.outgoing'), deliveries_path(params: { type: "outgoing" }),
              class: "sub-nav-link #{active_nav_link('outgoing')}" %>
      </nav>

      <%= render 'filters' %>
    </div>
  </header>

  <turbo-frame id="delivery-list">
    <div class="scrollable-table container relative rounded border overflow-auto w-full">
      <% if @deliveries.any? %>
        <%= render 'table', deliveries: @deliveries %>
      <% else %>
        <p class="flex h-40 justify-center items-center">
          <%= t('.no_deliveries') %>
        </p>
      <% end %>
    </div>
  </turbo-frame>
</div>
