<section id="branches">
  <div class="w-full flex items-center pt-2 pb-3">
    <h4 class="text-xl/7 font-bold tracking-tight text-gray-900">
      <%= t('enterprises.edit.branches') %>
    </h4>

    
    <% if can? :manage, @current_enterprise %>
      <button class="btn btn-secondary ml-auto flex gap-2" type="button" data-controller="modal-trigger" 
          data-target="#manage-branch-modal" data-url="<%= new_branch_path %>" data-action="modal-trigger#fireModalEvent">
        <%= render "shared/svgs/plus" %>
        <%= t(".add_branch") %>
      </button>
    <% end %>
  </div>

  <div class="scrollable-table container relative rounded border overflow-auto w-full">
    <table class="table">
      <thead class='table-head'>
        <tr>
          <% Enterprise::BRANCH_HEADERS.each do |header| %>
            <% next if header == "action" && !(can? :manage, @current_enterprise) %>
            <th scope="col" class="min-w-[100px] sticky top-0"><%= t(".#{header}") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="table-body">
          <%= render partial: 'branch_table_row', collection: @branches , as: :branch %>
      </tbody>
    </table>
  </div>
</section>

<%= render "shared/modal", id: "manage-branch-modal" %>