<tr id="<%= dom_id(branch) %>">
  <td><%= branch.name %></td>
  <td><%= branch.telephone %></td>
  
  <% if can? :manage, @current_enterprise %>
    <td>
      <button class="btn link" data-controller="modal-trigger" data-target="#manage-branch-modal"
              data-url="<%= edit_branch_path(branch) %>" data-action="modal-trigger#fireModalEvent">
        <%= t("enterprises.branches.edit") %>
      </button>
    </td>
  <% end %>
</tr>