<div class="flex w-full flex-col justify-center w-full mx-auto px-2">
  <h2 class="text-2xl/9 mt-6 font-bold tracking-tight text-gray-900">
    <%= t('.title') %>
  </h2>

  <nav class="flex items-center gap-4 my-3">
    <%= link_to t('.branches'), enterprise_setting_path(params: { option: "branches" }),
          class: "sub-nav-link #{active_nav_link('branches')}" %>
    <%= link_to t('.users'), enterprise_setting_path(params: { option: "users" }),
          class: "sub-nav-link #{active_nav_link('users')}" %>
  </nav>

  <% if params[:option] == "users" %>
    <%= render "enterprises/users" %>
  <% else %>
    <%= render "enterprises/branches" %>
  <% end %>
</div>
