<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Truck Pusher" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# <div class="overflow-hidden"></div> %>
  <body class="bg-tp-white <%= "overflow-hidden" if active_class("deliveries", "index") %>">
    <%# Logo %>
    <div class="shadow bg-tp-white fixed top-0 inset-x-0 z-20">
      <%= link_to home_path(Current.agency) do %>
        <%= image_tag "truck-pusher.jpg", class: "h-16 w-auto mx-auto" %>
      <% end %>
    </div>

    <%# Main content %>
    <main class="mx-auto my-16 px-2 flex container">
      <%= yield %>
    </main>

    <%# Flash messages %>
    <%= render 'shared/flash' %>

    <%# Bottom navigation %>
    <%= render navigation_partial(@current_user) %>
  </body>
</html>
